In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Novoagansk,RU,2022-07-27 05:08:55,61.9449,76.6625,69.13,57,3,11.88
1,1,Atuona,PF,2022-07-27 05:06:52,-9.8000,-139.0333,77.56,74,12,17.67
2,2,Langsa,ID,2022-07-27 05:08:56,4.4683,97.9683,90.36,56,100,2.21
3,3,Chapais,CA,2022-07-27 05:08:57,49.7834,-74.8492,46.81,96,32,3.94
4,4,Busselton,AU,2022-07-27 05:05:43,-33.6500,115.3333,60.85,64,97,4.03

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)