In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Novoagansk,RU,2022-07-27 05:08:55,61.9449,76.6625,69.13,57,3,11.88
1,1,Atuona,PF,2022-07-27 05:06:52,-9.8000,-139.0333,77.56,74,12,17.67
2,2,Langsa,ID,2022-07-27 05:08:56,4.4683,97.9683,90.36,56,100,2.21
3,3,Chapais,CA,2022-07-27 05:08:57,49.7834,-74.8492,46.81,96,32,3.94
4,4,Busselton,AU,2022-07-27 05:05:43,-33.6500,115.3333,60.85,64,97,4.03

In [20]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds  = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind  = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2022-07-27 05:06:52,-9.8000,-139.0333,77.56,74,12,17.67
9,9,Anshun,CN,2022-07-27 05:08:59,26.2500,105.9333,79.66,71,36,13.27
11,11,Denpasar,ID,2022-07-27 05:08:56,-8.6500,115.2167,83.86,74,40,16.11
14,14,Praia,CV,2022-07-27 05:06:50,14.9215,-23.5087,78.51,82,86,4.34
20,20,Kampot,KH,2022-07-27 05:09:05,10.6167,104.1833,87.85,74,100,6.89
29,29,Kavieng,PG,2022-07-27 05:05:28,-2.5744,150.7967,84.99,64,66,12.97
30,30,Kota Belud,MY,2022-07-27 05:09:10,6.3510,116.4305,83.88,77,66,5.26
33,33,Ishigaki,JP,2022-07-27 05:09:11,24.3448,124.1572,85.51,75,13,13.89
41,41,Hilo,US,2022-07-27 05:05:24,19.7297,-155.0900,84.27,83,100,0.00
42,42,Bafoulabe,ML,2022-07-27 05:10:16,13.8065,-10.8321,76.26,91,100,5.01

In [48]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [70]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Atuona      PF     77.56  -9.8000 -139.0333
9       Anshun      CN     79.66  26.2500  105.9333
11    Denpasar      ID     83.86  -8.6500  115.2167
14       Praia      CV     78.51  14.9215  -23.5087
20      Kampot      KH     87.85  10.6167  104.1833
29     Kavieng      PG     84.99  -2.5744  150.7967
30  Kota Belud      MY     83.88   6.3510  116.4305
33    Ishigaki      JP     85.51  24.3448  124.1572
41        Hilo      US     84.27  19.7297 -155.0900
42   Bafoulabe      ML     76.26  13.8065  -10.8321

In [75]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [76]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [77]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.56,-9.8000,-139.0333,Villa Enata
9,Anshun,CN,79.66,26.2500,105.9333,安顺麦吉风格酒店
11,Denpasar,ID,83.86,-8.6500,115.2167,OYO 3156 Hotel Warta 2
14,Praia,CV,78.51,14.9215,-23.5087,LT Aparthotel
20,Kampot,KH,87.85,10.6167,104.1833,Two Moons Hotel
...,...,...,...,...,...,...
566,Pine Bluff,US,86.32,34.2284,-92.0032,"Holiday Inn Express & Suites Pine Bluff, an IH..."
568,Derzhavinsk,KZ,78.03,51.1000,66.3167,Ooo.khim Baza
569,Katobu,ID,85.26,-4.9408,122.5276,La Ode Husein
571,Huilong,CN,86.76,31.8111,121.6550,Hilton Garden Inn Qidong
572,Bastia,FR,79.30,42.6667,9.3333,Hotel Santa Maria

In [78]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [82]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [83]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))